.container {
    /*border: 1px solid red;*/
}
body {
    background-color: #E5E5E5;
}
.phone {
    color: #2E353D;
    font-weight: 700;
    font-style: 18px;

}
.hero-image {
   box-shadow: 0px 10px 25px rgba(103, 103, 103, 0.1);
   border-radius: 10px;

}
.hero-navbar {
    margin-bottom: 96px;
}